<div class="container">
  <div class="search_form mb-3">
    <%= render 'searches/form' %>
  </div>
  <div class="row">
    <div class="col-2">
      <%= render 'layouts/sidebar_left', tag_lists: @tag_lists %>
    </div>
    <div class="col-8 infomation-list">
      <% @infomations.each do |info| %>
        <% if info.readed_by?(current_staff) %>
        <% else %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"> <%= link_to info.title, staff_infomation_path(info.id), class: "text-info" %></h5>
              <p class="card-text"><%= info.body %></p>
              <p class="card-poster"><%= info.staff.last_name %><%= info.staff.first_name %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-2">
      <%= render 'layouts/sidebar_right' %>
    </div>
  </div>
</div>