<div class="container">
  <<%= render 'searches/form' %>
  <div class="row tag_list">
    <div class="col-2">
      <%= render 'layouts/sidebar_left', tag_lists: @tag_lists %>
    </div>
    <div class="col-8 infomation-list">
      <% @bookmarks.each do |bookmark| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"> <%= link_to bookmark.infomation.title, staff_infomation_path(bookmark.infomation.id), class: "text-info" %></h5>
            <p class="card-text"><%= bookmark.infomation.body %></p>
            <p class="card-poster text-right"><%= bookmark.infomation.staff.last_name %><%= bookmark.infomation.staff.first_name %></p>
            <p class="post_date text-right"><%= bookmark.infomation.created_at.strftime("%Y/%m/%d")%></p>
            <p class="card-check"><%= "コメント ( #{bookmark.infomation.infomation_comments.count} ) 見た人( #{bookmark.infomation.reads.count} )" %></p>
          </div>
        </div>
      <% end %>
      <div class="pagenation">
        <%= paginate @bookmarks %>
      </div>
    </div>
    <div class="col-2">
      <%= link_to new_staff_infomation_path, class: 'btn btn-info' do %>
        新規投稿
      <% end %>
      <%= link_to staff_infomations_path, class: 'btn btn-info' do %>
        投稿一覧
      <% end %>
      <%= link_to staff_bookmarks_index_path, class: 'btn btn-info' do %>
        ブックマーク一覧
      <% end %>
    </div>
  </div>
</div>