<div class="container">
  <div class="row justify-content-md-center mt-5">
    <h2>従業員登録フォーム</h2>
  </div>

  <div class="row justify-content-md-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "staff/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :姓 %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
      </div>
      
      <div class="field">
        <%= f.label :名 %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
      </div>
      
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      
      <div class="field">
        <%= f.label :社員番号 %><br />
        <%= f.text_field :employee_number, autofocus: true, autocomplete: "employee_number" %>
      </div>
      
      <div class="field">
        <%= f.label :役職 %><br />
        <%= f.number_field :position, autofocus: true, autocomplete: "position", in: 1..100 %>
      </div>
    
      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    
      <div class="field">
        <%= f.label :確認用パスワード %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    
      <div class="actions">
        <%= f.submit "登録", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>