<% if @staff.errors.any? %>
  <%= @staff.errors.count %>件のエラーが発生しました
  <ul>
    <% @staff.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container">
  <div class="row mt-3">
    <div class="col offset-sm-1 col-sm-6">
      <h4><%=@staff.last_name %><%= @staff.first_name %>さんの社員情報編集</h4>
      <div class="row mt-4 flex-column align-items-center">
      <%= form_with model: @staff, url: admin_staff_path(@staff.id), method: :patch do |f| %>
        <table>
          <tr>
            <td>社員番号</td>
            <td><%= @staff.employee_number %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= f.text_field :last_name, class: "form-control col-md-10" %></td>
            <td><%= f.text_field :first_name, class: "form-control col-md-10" %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.text_field :email, class: "form-control col-md-10" %></td>
          </tr>
          <tr>
            <td>在籍状態</td>
            <td><%= f.radio_button(:is_deleted, false) %> 在籍　<%= f.radio_button(:is_deleted, true) %> 退職</td>
          </tr>
        </table>
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      <% end %>
      </div>
    </div>
  </div>
</div>