<div class="container">
  <%= render 'searches/form' %>
  <div class="row">
    <div class="col-2">
      <%= render 'layouts/sidebar_left', tag_lists: @tag_lists %>
    </div>
    <div class="col-8">
      <h4 class="staff_name mb-3"><%= @staff.last_name %><%= @staff.first_name %></h4>
      <table class="table col-sm-5">
        <tr>
          <td>社員番号</td>
          <td><%= @staff.employee_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @staff.email %></td>
        </tr>
        <tr>
          <td>在籍状態</td>
          <td>
            <% if @staff.is_deleted == false %>
              <strong class="text-success">在籍</strong>
            <% else %>
              <strong class="text-black-50">退職</strong>
            <% end %>
          </td>
        </tr>
      </table>
      <%= link_to "編集する", edit_admin_staff_path, class: "btn btn-success" %>
    </div>
    <div class="col-2">
      <%= render 'layouts/sidebar_right' %>
    </div>
  </div>
</div>