<% infomations.each do |infomation| %>
  <div class="card mb-3">
    <div class="card-body">
      <% if staff_signed_in? %>
        <h5 class="card-title">
          <%= link_to infomation.title, staff_infomation_path(infomation.id), class: "text-info" %>
        </h5>
      <% else %>
        <h5 class="card-title">
          <%= link_to infomation.title, admin_infomation_path(infomation.id), class: "text-info" %>
        </h5>
      <% end %>
      <p class="card-text">
        <%= infomation.body %>
      </p>
      <p class="card-poster text-right">
        <%= infomation.staff.last_name %><%= infomation.staff.first_name %>
      </p>
      <p class="post_date text-right">
        <%= infomation.created_at.strftime("%Y/%m/%d")%>
      </p>
      <p class="card-check">
        <%= "コメント ( #{infomation.infomation_comments.count} ) 見た人( #{infomation.reads.count} )" %>
      </p>
    </div>
  </div>
<% end %>
<div class="pagination">
  <%= paginate infomations %>
</div>